button{
    background-color:red;
    color:white;
    border:none;

}
.main-button{
    background-color:yellow;
    color:black;
    border:none;

}

.cart{
    background-color:yellow;
    color:black;
    border-color:black;
    border-style:ridge;
}
.buy{
    background-color:orange;
    color:black;
    border-style:ridge;
    border-color:black;
}
.name{
    background-color:purple;
    color:white;
    border:none;

}
.click{
    background-color:green;
    color:white;
    border:none;

}